.cart {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 10px;
}

.cart-item img {
  width: 80px;
  height: auto;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.cart-item-name {
  font-size: 18px;
  font-weight: bold;
}

.cart-item-price {
  font-size: 16px;
  margin-top: 5px;
}

.cart-item-quantity {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cart-item-quantity button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 3px;
}

.remove-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 3px;
  margin-top: 10px;
}

.remove-button:hover,
.cart-item-quantity button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
  }

  .cart-item img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
