.hero-section {
  height: 100vh;
  background-image: url("/public/Images/IMG_E0207.JPG");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: white;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: white; 
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
