.store-description-section {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; 
}

.store-description-content {
  text-align: center;
}

.store-description-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.store-description-content p {
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 600px; /* Adjust the maximum width as desired */
}
